/* basic css reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

tr th,
tr td {
  padding: 0 2em;
}

ul {
  margin: 1em;
  list-style: none;
}

button {
  padding: .5em;
}

button#calculate {
  margin: 1em;
}

td strong {
  color: red;
}

fieldset {
  padding: 1em 0;
}
